
table {
    width: 100%;
}

.mat-form-field {
    /* font-family: Quicksand; */
    font-size: 14px;
    width: 100%;
}

th.mat-sort-header-sorted {
    color: black;
}

th {
    background-color: black ;
    color: white;
}

.mat-header-cell {
    font-style: monospace;
    font-weight: bold;
    font-size: 14px;
    /* font-family: Quicksand; */
}

tr:nth-child(even) {
    background-color: #FFDEAD
}

tr:hover {
    background-color: #f0f0f0;
}

#add_button {
    margin-left: 50px;
    margin-right: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    float: right;
    /* font-family: Quicksand; */
}

#Search {
    width: 60%;
    margin-left: 150px;
}