<!-- <footer class="row">
    <div class="col-sm">
    </div>
    <div class="col-sm">
        <ul class="row">
            <li class="col-xs-6 col-sm-2">
                <a href="#">
                    <img class="logo" src="https://cdn2.iconfinder.com/data/icons/black-white-social-media/32/online_social_media_facebook-128.png">
                </a>
            </li>
            <li class="col-xs-6 col-sm-2">
                <a href="#">
                    <img class="logo" src="https://cdn2.iconfinder.com/data/icons/black-white-social-media/32/twitter_online_social_media-128.png">
                </a>
            </li>
            <li class="col-xs-6 col-sm-2">
                <a href="#">
                    <img class="logo" src="https://cdn2.iconfinder.com/data/icons/black-white-social-media/32/instagram_online_social_media_photo-128.png">
                </a>
            </li>
            <li class="col-xs-6 col-sm-2">
                <a href="#">
                    <img class="logo" src="https://cdn2.iconfinder.com/data/icons/black-white-social-media/32/online_social_media_google_plus-128.png">
                </a>
            </li>
        </ul>
        <p> &copy; BOOL 2019-2020 </p>
    </div>



    <div class="col-sm"></div>


</footer> -->