<!-- Start of nav bar -->
<!-- Toolbar -->
<div class="container-fluid">
    <div class="row">
        <mat-toolbar color="accent" class="app-header">
            <div class="logo-image" routerLink=""> </div>
            <div id="writing">
                <p><strong> BOLT TO YOUR DESTINATION. </strong></p>
            </div>
            <span class="nav-tool-items">
          <a mat-raised-button routerLink="/login" routerLinkActive="active">Sign In</a>
          <a mat-raised-button routerLink="/register" routerLinkActive="active">Register</a>
    
      </span>
        </mat-toolbar>
    </div>
    <!-- End of Navbar -->
    <div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">
        <mat-card class="box">
            <mat-card-header>
                <mat-card-title>Create your account</mat-card-title>
            </mat-card-header>

            <form class="example-form">

                <mat-card-content>
                    <mat-form-field class="example-full-width">
                        <input type="text" matInput placeholder="Email" name="username" [(ngModel)]="username"  [formControl]="email">
                        <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
                    </mat-form-field>

                    <mat-form-field class="example-full-width">
                        <input type="password" matInput placeholder="Password" [(ngModel)]="password" name="password">
                    </mat-form-field>

                </mat-card-content>

                <button mat-stroked-button (click)="register('Registation Successful','Welcome')" color="accent" class="btn-block"><strong>Register</strong></button>
                <div id="newUserHyper">
                    <p>Already A User?
                        <a [routerLink]="['/login']" routerLinkActive="router-link-active">
                            Sign in.
                        </a>
                    </p>
                </div>
            </form>
        </mat-card>
    </div>
</div>