/* Structure */

table {
    width: 100%;
}

.mat-form-field {
    font-size: 14px;
    width: 100%;
}

.head1 {
    font-size: 40px;
    color: #4267B2;
    font-weight: bold;
    /* font-family: Quicksand; */
}

.head2 {
    font-size: 17px;
    margin-left: 10px;
    color: black;
}

.mat-tab-label {
    /* font-family: Quicksand; */
}


/* Navbar Image-logo */

.logo-image {
    background-image: url(../bolt.svg);
    background-repeat: no-repeat;
    width: 100px;
    height: 90px;
    border-radius: 50%;
    overflow: hidden;
    margin-top: -6px;
}

.app-header {
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
    box-shadow: 0 3px 5px -1px rgba(0, 0, 0, .2), 0 6px 10px 0 rgba(0, 0, 0, .14), 0 1px 18px 0 rgba(0, 0, 0, .12);
}

.w3-row {
    margin-top: 100px;
}


/* Navbar Image-logo */

.logo-image {
    background-image: url(../bolt.svg);
    background-repeat: no-repeat;
    width: 100px;
    height: 90px;
    border-radius: 50%;
    overflow: hidden;
    margin-top: -6px;
    outline: none;
}

.app-header {
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
    box-shadow: 0 3px 5px -1px rgba(0, 0, 0, .2), 0 6px 10px 0 rgba(0, 0, 0, .14), 0 1px 18px 0 rgba(0, 0, 0, .12);
}

#writing {
    margin-top: 20px;
}